node_modules
.env
.env.local
.env.*.local
# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Exclude WIP Uniswap components (to bypass Vercel build issues)
src/components/uniswapclon.tsx
src/components/uniswap_buy(tofix).tsx